html {
	height: 100%
}

body {
}

#background {
	background-color: #E1F6FA;
	width: auto;
	height: 88%;
}

#menu-container {
	background-color: #26aa72;
	width: 100%;
	height: 8%;
}

#ui-field-contain {
	padding-left: 3%;
}

#save-container {
	margin-top: 1%;
	margin-left:7%;
	padding-left: 3%;
}

#back {
	float: left;
	position: relative;
	margin: 1%;
	text-align: center;
	-webkit-border-radius: 5px;
}

#menu {
	float: right;
	position: relative;
	margin: 1%;
	-webkit-border-radius: 5px;
	text-align: center;
}

#emotion-container {
	padding-top: 6%;
}

.whiteSpace {
	margin: 5%;
}

#inputTag {
	background-color: white;
	height: 10%;
	
}
.form-group{
	margin-left:10%;
	margin-right:10%;
}

#user-tag {
	padding-left: 3%;
	padding-right: 3%;
}

#save-popup {
	background-color: azure;
	width: 70%;
	height: 60%;
	position: absolute;
	top: 20%;
	left: 15%;
	opacity: 0.95;
	padding: 3%;
	-webkit-border-radius: 7px;
}

#popup-btn1 {
	background-color: #79992a;
	position: relative;
	float: left;
	top: 30%;
	left: 5%;
	width: 40%;
	height: 40%;
	padding-top: 5%;
	-webkit-border-radius: 7px;
}

#popup-btn2 {
	background-color: orange;
	position: relative;
	float: right;
	top: 30%;
	height: 40%;
	width: 40%;
	right: 5%;
	padding-top: 3%;
	-webkit-border-radius: 7px;
}