#block-time-length-container {
	position: relative;
	top: 50%;
	left: 17%;
	width: 170px;
	height: 3%;
	background-color: white;
	-webkit-transform: skew(-15deg);
	border-radius: 2px;
}

#block-time-length-controlbar {
	position: absolute;
	top: -900%;
	width: 25%;
	height: 1800%;
	/*background-color: #66ee55;*/
	background-color: #66ee55;
	border-radius: 2px;
	opacity: 0.9;
}