html, body {
	height: 100%;
	overflow: hidden;
}

#background {
	background-color: #45a712;
	width: auto;
	height: 100%;
}

#menu-container {
	background-color: #45a712;
	width: 100%;
	height: 12%;
}

#syllable-container {
	background-color: #c2ea8a;
	width: 52%;
	height: 90%;
	float: left;
	padding: 2px 2px 2px 2px;
	-webkit-border-radius: 5px;
}

#display-container {
	background-color: black;
	margin-left: 3.7%;
	width: 93%;
	height: 20%;
	padding-top: 1%;
	padding-left: 2%;
	-webkit-border-radius: 5px;
}

#control-container {
	width: 45%;
	height: 90%;
	float: left;
	margin-left: 1.2%;
}

#key-container {
	background-color: #45a712;
	width: 100%;
	height: 68%;
	float: left;
	padding-left: 1.7%;
	padding-top: 2%;
}

#key-space-container {
	float: left;
	margin-left: 2%;
	width: 9%;
	height: 95%;
	padding: 0.5%;
	background-color: #000000;
	-webkit-border-radius: 3px;
}

#key-clickable-container {
	background-color: black;
	width: 73%;
	height: 95%;
	position: relative;
	float: left;
	margin-left: 1.3%;
	padding: 0.6%;
	-webkit-border-radius: 5px;
}

#key-clickable-black-container {
	background-color: transparent;
	width: 100%;
	height: 2%;
	position: absolute;
	float: left;
}

#octave-display-container {
	background-color: #000000;
	height: 95%;
	width: 9.9%;
	float: right;
	margin-right: 3.4%;
	-webkit-border-radius: 5px;
}

.syllable {
	background-color: transparent;
	float: left;
	height: 100%;
	z-index: 0;
}

.syllable-bar {
	background-color: dodgerblue;
	position: relative;
	height: 11%;
	z-index: 0;
}

.divider {
	background-color: #a22242;
	float: left;
	width: 1%;
	height: 105.5%;
	position: relative;
	top: -3%;
}

#play {
	margin-left: 3%;
	background-color: greenyellow;
	float: left;
	width: 23%;
	height: 100%;
	-webkit-border-radius: 5px;
}

#cancel {
	background-color: greenyellow;
	float: left;
	width: 23%;
	height: 100%;
	margin-left: 1.5%;
	-webkit-border-radius: 5px;
}

#clear {
	background-color: greenyellow;
	float: left;
	width: 23%;
	height: 100%;
	margin-left: 1.5%;
	-webkit-border-radius: 5px;
}

#next {
	background-color: greenyellow;
	float: left;
	width: 23%;
	height: 100%;
	margin-left: 1.5%;
	-webkit-border-radius: 5px;
}

#space-key {
	width: 100%;
	height: 100%;
	background-color: #65f712;
	-webkit-border-radius: 3px;
}

#space-key-icon {
	top: 5%;
	left: 22%;
}

.white-key {
	background-color: white;
	width: 14.05905%;
	height: 100%
}

.white-key-divider {
	background-color: transparent;
	float: left;
	width: 1px;
	height: 100%;
}

.black-key {
	background-color: black;
	width: 8%;
	height: 3000%;
}

.key {
	float: left;
}

.octave-display {
	background-color: #58C500;
	border-style: solid;
	border-width: 1px;
	margin: 4%;
	height: 23.5%;
	width: 92.2%;
}

#octave-display-on {
	background-color: greenyellow;
	border-style: double;
	padding: 15%;
	margin: 4%;
	height: 23.5%;
	width: 92.2%;
}

#menu-list {
	height: 92%;
	width: 40%;
	background-color: black;
	position: absolute;
	top: 12%;
	z-index: 1000;
	margin: 0px;
	padding: 0px;
	opacity: 0.9;
	text-align: center;
	font-size: 15px;
}

.menu-on {
	left: 60%;
}

.menu-off {
	left: 100%;
}