<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BlockMapper">

	<resultMap type="Block" id="BlockSelectMap">
		<result property="bCode" column="bcode" jdbcType="INTEGER" />
		<result property="uCode" column="ucode" jdbcType="INTEGER" />
		<result property="note" column="note" jdbcType="VARCHAR" />
		<result property="pCount" column="pcount" jdbcType="INTEGER" />
		<result property="dCount" column="dcount" jdbcType="INTEGER" />
		<result property="title" column="btitle" jdbcType="VARCHAR" />
		<result property="regDate" column="regdate" jdbcType="DATE" />
		<result property="time" column="time" jdbcType="INTEGER" />

 		<collection property="blockHashList" javaType="java.util.List"
			resultMap="BlockHashResultMap" /> 

		<collection property="blockEmotionList" javaType="java.util.List"
			resultMap="BlockEmotionResultMap" />
	</resultMap>

 	<resultMap type="blockHash" id="BlockHashResultMap">
		<result property="hCode" column="hcode" jdbcType="INTEGER" />
		<result property="bCode" column="bcode" jdbcType="INTEGER" />
		<result property="tag" column="btag" jdbcType="VARCHAR" />
	</resultMap> 

	<resultMap type="blockEmotion" id="BlockEmotionResultMap">
		<result property="bCode" column="bcode" jdbcType="INTEGER" />
		<result property="emotion" column="bemotion" jdbcType="INTEGER" />
	</resultMap>

	<!-- SQL : INSERT -->
	<insert id="addBlock" parameterType="block">
		INSERT
		INTO
		block(bcode,ucode,note,pcount,dcount,btitle,regdate,time )
		VALUES
		(SEQ_BLOCK_BCODE.NEXTVAL,#{uCode},#{note},0,0,#{title},SYSDATE,#{time})
	</insert>

	<!-- insert uCode 수정 -->


	<!-- addBlockHash, forEach문 이용해서 하나씩 insert -->
	<insert id="addBlockHash" parameterType="blockHash">
		INSERT
		INTO
		block_hash(hcode,bcode,btag )
		VALUES
		(SEQ_BLOCK_BHASH.NEXTVAL,#{bCode},#{tag})
	</insert> 

	<insert id="addBlockEmotion" parameterType="java.util.HashMap">
		<foreach item="item" collection="list" open="INSERT ALL"
			separator=" " close="SELECT * FROM DUAL">
			INTO block_emotion (bcode,bemotion)
			VALUES (#{item.bCode}, #{item.emotion})
		</foreach>
	</insert>
	
	
	<!-- SQL : SELECT ONE -->
<!-- 	 <select 	id="getBlock"	parameterType="string"	resultMap="BlockSelectMap">
		SELECT
		bcode,ucode,note,pcount,dcount,btitle,regdate,time 		
		FROM block 
		WHERE bcode = #{blockId}  	 block_id??
	 </select>
 -->	 
	 
	 	<!-- SQL : SELECT ONE -->
	 <select 	id="getBlock"	parameterType="int"	resultMap="BlockSelectMap">
		SELECT
		bcode,ucode,note,pcount,dcount,btitle,regdate,time 		
		FROM block 
		WHERE bcode = #{blockCode}  	 <!--block_id?? -->
	 </select>
	 
	<select id="getCurrentBlockCode" resultType="int">
	select max(bcode) from block
	</select>
</mapper>