/* User Defined Style*/

html,
body {
    height: 100%;
    overflow: hidden;
    /* background: #ffffff;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0; */
}


/* Button */
.COMPOSE-MENUBAR-ROW{
    height: 100%;
}


.COMPOSE-MENUBAR-BTN span {
    position: absolute;
    display: table;
    height: 15px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden
}

.COMPOSE-MENUBAR-BTN span:after,
.COMPOSE-MENUBAR-BTN span:before {
    display: block;
    content: " ";
    height: 0;
    float: left;
    border-color: transparent;
    border-style: solid
}

#btn-play span:after,
#btn-play span:before,
#btn-prev span:after,
#btn-prev span:before {
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent
}

#btn-play span:before {
    border-left: 15px solid #ddd;
    border-right: 0
}

#btn-play span:after {
    display: none
}

#btn-play.active span:before,
#btn-play:active span:before {
    border-left-color: #F66!important
}

#btn-pause span:after,
#btn-pause span:before {
    width: 5px;
    height: 15px;
    background: #F66;
    border: 0
}

#btn-pause span:before {
    margin-right: 5px
}

#btn-pause span.active:after,
#btn-pause span.active:before,
#btn-pause span:active:after,
#btn-pause span:active:before {
    background: #fff;
    margin-right: 5px
}

#btn-prev span:before {
    border-right: 1px solid #ddd;
}

#btn-prev span:after {
    border-right: 15px solid #ddd;
    border-left: 0;
}

/* Main Content */

.main-content {
    width: 100%;
    height: 88%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 0;
}

.workspace {
    width: 100%;
    height: 30%;
    border: 1px solid;
    border-radius: 3px;
    background-color: beige;
}

.layer-selector {
    float: left;
    height: 100%;
    width: 100%;
    border: 1px solid;
}

.layer-melody-block {
    height: 100%;
    width: 100%;
    padding-top: 0%;
    position: relative;
    overflow: hidden;
}

#progress-bar{
	height: 100%; 
	width:0%; 
	background-color:red; 
	opacity:0.3; 
	position:absolute
}


.block-repository {
    height: 70%;
    position: relative;
    border: 1px solid;
    border-radius: 3px;
}

.block-item {
    text-align: center;
    font-size: 18px;
    width: 100px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/* Overriding siper.min.css */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: baseline;
}


/* Overriding application.css */

ol li.highlight {
    width: 15%;
    height: 70%;
}



/* Overriding Bootstrap */
/* Overriding col-xs-4 */
.COMMON-MENUBAR-GRID-4 {
    height: 100%;
}


/* progress bar */
/*------------------------------*/

.progress-bar-wrapper {
    float: inherit;
    height: 10%;
    border: 1px solid;
    margin: 0;
    display: table;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden
}

/*------------------------------*/

.progress-bar-played {
    width: 100%;
    height: 100%;
    background: #F66;
    position: relative;
    border-radius: 10px;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s
}


/*------------------------------*/
.progress-bar-pointer {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background: green;
}


.modal-dialog{
    margin : 20% 0% 0% 35%;
    width : 25%;
}

