/* User Defined Style*/
html, body {
	height: 100%;
	overflow : hidden;
	
	/* background: #ffffff;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0; */
}

.main-content {
    width: 100%;
    height: 88%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 0;
}

.workspace {
    width: 100%;
    height: 30%;
    border: 1px solid;
    border-radius: 3px;
}

.layer-selector {
    float: left;
    height: 100%;
    width: 100%;
    border: 1px solid;
}

.layer-melody-block {
    height: 90%;
    width: 100%;
    padding-top: 0%;
    position: relative;
    border: 1px solid;
    overflow: hidden;
}

.block-repository {
    height: 70%;
    position: relative;
    border: 1px solid;
    border-radius: 3px;
}

.block-item {
	text-align: center;
	font-size: 18px;
	width: 100px;
	flex-shrink: 0;
	height: 100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}



/* Overriding siper.min.css */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: baseline;
}

/* Overriding application.css */
ol li.highlight {
	width: 80px;
	height: 60%;
}

/* Overriding player.css */
.jAudio--player {
	width: 100%;
	float: inherit;
	height: 10%;
	position: relative;
	border: 1px solid;
	margin: 0;
}

.jAudio--player>.jAudio--progress-bar {
	margin: 0;
}

.jAudio--controls {
	float: left;
	position: relative;
	margin: 1%;
	-webkit-border-radius: 5px;
}

.jAudio--controls {
    width: 100%;
    display: table;
    background: #fafafa;
}

#btn-prev span:before {
    border-right: 1px solid #ddd;
}

#btn-prev span:after{
    border-right: 15px solid #ddd; 
    border-left: 0;
}

