.main-content {
    width: 100%;
    height: 100%;
    padding: 1%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
    z-index: 0;
}

.main-content .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    width: 100%;
}

.main-content .content h1 {
    font-weight: 100;
}

.main-content .content p {
    width: 100%;
    line-height: 160%;
}

/*씀*/
.main-content #sidebar-toggle {
    background: #DF314D;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
}

/*씀*/
.main-content #sidebar-toggle .bar {
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}

.main-content #sidebar-toggle .bar:last-child {
    margin-bottom: 0;
}