.navbar {
    height: 100%;
    width: 100%;
}

.backward {
    float: left;
    left: 40%;
    padding: 2px 0px;
}

.stop {
    float: left;
    left: 40%;
    padding: 2px 0px;
}

.play {
    float: left;
    left: 40%;
    padding: 2px 0px;
}

.workspace {
    border: 3px solid;
    border-radius: 3px;
}

.layer-progress {
    height: 10%;
    width: 100%;
    position: relative;
    float: right;
    padding: 5px;
    border: 1px solid;
}

.layer {
    height: 100%;
    position: relative;
}

.layer-melody {
    height: 50%;
    width: 100%;
    position: relative;
    float: left;
}

.part-empty {
    height: 10%;
    position: relative;
    border: 1px solid;
}

.part-melody {
    height: 90%;
    position: relative;
    padding: 5px;
    border: 1px solid;
}

.part-selector {
    float: left;
    height: 100%;
    width: 10%;
    border: 1px solid;
}

.layer-selector {
    float: left;
    height: 100%;
    width: 90%;
    border: 1px solid;
}

.part-session {
    height: 90%;
    position: relative;
    padding: 5px;
    border: 1px solid;
}

.layer-melody-block {

    height: 100%;
    width: 100%;
    position: relative;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid;
    margin: 5px auto;
    position: relative;
    overflow: hidden;
    
}

.layer-session-block {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid;
}

.block-frame {
    height: 44%;
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: 3px solid;
    border-radius: 3px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

