@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: sans-serif;
    background: #f6f9fa;
}

h1 {
    text-align: center;
}

a {
    color: #ccc;
    text-decoration: none;
    outline: none;
}


/*Fun begins*/

.tab_container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

input,
section {
    clear: both;
    display: none;
}

label {
    display: block;
    float: left;
    width: 50%;
    padding: 0.5em;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
}

label .fa{
        font-weight: 700;
    font-size: 18px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3{
    display: block;
    height: 100%;
    background: #fff;
    color: #999;
    border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3,
.tab-content div{
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}

.tab_container .tab-content h3 {
    text-align: center;
}

.tab_container [id^="tab"]:checked + label {
    background: #fff;
    box-shadow: 0 3px #0CE;
}

.tab_container [id^="tab"]:checked + label .fa {
    color: #0CE;
}

label .fa {
    font-size: 100%;
    margin: 0 0.4em 0 0;
}


/*Media query*/

@media only screen and (max-width: 900px) {
    label span {
        display: none;
    }
    .tab_container {
        width: 100%;
    }
}


/*Content Animation*/

@keyframes fadeInScale {
    0% {
/*        transform: scale(0.9);*/
        opacity: 0;
    }
    100% {
/*        transform: scale(1);*/
        opacity: 1;
    }
}

