html, body {
	height: 100%;
	overflow-x: hidden;
}

#background {
	background-color: #E1F6FA;
	width: auto;
	height: 88%;
}

.music {
	width: 15%;
	height: 12%;
}

.newMusic {
	width: 45%;
	height: 10%;
}

.whiteSpace {
	height: 13%;
}

.noteVisualOne {
	left: 0%;
	background-color: #73a381;
}

.noteVisualTwo {
	left: 20%;
	background-color: #a92765;
}

.noteVisualThree {
	left: 40%;
	background-color: #3378c7;
}

.noteVisualFour {
	left: 60%;
	background-color: #dc65d4;
}

.noteVisualFive {
	left: 80%;
	background-color: #2543e1;
}

/* 
https://color.adobe.com/ko/explore/most-popular/?time=all */