html, body {
	height: 100%;
	overflow-x: hidden;
}

#background {
	background-color: #CC99FF;
	width: auto;
	height: 100%;
}


#create-container {
	width: inherit;
	height: 25%;
}

.music {
	width: 15%;
	height: 12%;
}

.newMusic {
	width: 25%;
	height: 10%;
}

.whiteSpace {
	margin: 10%;
}